.dashboard {
  flex: 1;
}


.topbar {
  padding: 15px;
  width: 100%;
  height: 60px;
  background-color: #E5E7EB;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 20px;
}
.topbar h2{
    font-size: 20px;
    font-weight: 600;
    color: #111827;
}
.topbar span {
  color: var(--cinza-medio);
  font-size: 14px;
}

.content {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  gap: 15px;
  margin-top: 20px;
}

.actions {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  background: var(--branco);
  padding: 15px;
  border-radius: 10px;
  flex: 1;
  margin-bottom: 50px;
}
.actions h4{
    font-size: 18px;
    font-weight: 600;
    color: #111827;
    margin-bottom: 15px;
}
/* Botões */
.actions button {
 color: #DC2626;
  font-weight: 700;
  padding: 10px 20px;
  border: none;
  background: #fff;
  border: #DC2626 1px solid;
  border-radius: 5px;
  cursor: pointer;
  transition: 0.2s;
  text-align: left;
}

.recent{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
}
.recent h3{
    font-size: 35px;
}
.recent p{
    font-size: 15px;
    font-weight: 400;
    color: #767676;
}

/* Botão principal */
.primary {
  font-size: 14px;
  font-weight: 600;
  background: var(--dourado) !important;
  color: #0A0A0A;
  font-weight: bold;
}

.primary:hover {
  background: var(--dourado-claro) !important;
}
.lista {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
  gap: 20px;
  margin-top: 20px;
  max-height: 500px; 
  overflow-y: auto; 

  padding-right: 10px; 
}

.card {
  background: #ffffff;
  border-radius: 16px;
  padding: 20px;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.08);
  transition: 0.3s ease;
  border: 1px solid #eee;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.card:hover {
  transform: translateY(-5px);
  box-shadow: 0 12px 25px rgba(0, 0, 0, 0.12);
}

.card h3 {
  font-size: 20px;
  margin-bottom: 10px;
  color: #333;
}

.card p {
  font-size: 14px;
  color: #555;
  margin: 4px 0;
}

.card strong {
  color: #000;
}

.card ul {
  margin-top: 10px;
  padding-left: 18px;
}

.card li {
  font-size: 13px;
  color: #444;
  margin-bottom: 4px;
}

.card ul li::marker {
  color: #d4af37; 
}

.btnDelete {
  margin-top: 15px;
  padding: 10px;
  border: none;
  border-radius: 8px;
  background: #ff4d4f;
  color: white;
  cursor: pointer;
  font-weight: bold;
  transition: 0.3s;
}

.btnDelete:hover {
  background: #d9363e;
}