@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
  --preto: #000000;
  --dourado: #D4AF37;
  --dourado-claro: #E8C547;
  --branco: #FFFFFF;
  --cinza-claro: #f9fafb;
  --cinza-escuro: #333333;
  --cinza-medio: #666666;
  --vermelho: #E74C3C;
  --verde: #27AE60;
  --azul: #3498DB;

  --font-serif: 'Playfair Display', serif;
  --font-sans: "Poppins", sans-serif;
}

.mainn {
  width: 100%;
  min-height: 100vh;
}
.banner {
  width: 100%;
  height: 500px;
  background-image: url(../../assets/img-secundaria-4.jfif);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
.banner_texto {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.623);
}
.p_dourados {
  font-family: var(--font-sans);
  font-size: 19px;
  font-weight: 500;
  color: var(--dourado);
}
.banner_h1 {
  font-family: "Playfair Display", serif;
  font-size: 64px;
  font-weight: 700;
  color: white;
  margin-bottom: 15px;
}
.linha{
    width: 70px;
    height: 2px;
    background-color: #E8C547;
}
.section_quem_somos{
    width: 100%;
    height: auto;
    margin: 80px 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.section_quem_somos h1{
    font-family: "Playfair Display", serif;
    font-size: 40px;
    font-weight: 700;
    margin-bottom: 30px;
    color: #111827;
}
.section_quem_somos p{
    max-width: 850px;
    width: 100%;
    text-align: center;
    font-family: var(--font-sans);
    font-weight: 400;
    font-size: 17px;
    margin-bottom: 25px;
}
.section_quem_somos strong{
    color: #374151;
}
.trajetoria{
    width: 100%;
    height: auto;
    margin: 80px 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.trajetoria h1{
    font-family: "Playfair Display", serif;
    font-size: 40px;
    font-weight: 700;
    color: #111827;
}
.container_trajetoria{
    max-width: 1350px;
    width: 100%;
    margin-top: 50px;
    position: relative;
    margin-top: 80px;
}
.container_trajetoria::before{
    content: "";
    position: absolute;
    left: 50%;
    top: 0;
    width: 2px;
    height: 100%;
    background-color: #E8C547;
    transform: translateX(-50%);
    display: flex;             
    flex-direction: column;     
    gap: 60px; 
}
.container_trajetoria h1{
    font-size: 24px;
    font-weight: 700;
    color: #E8C547;
    margin-bottom: 8px;
}
.container_trajetoria p{
    color: #374151;
    font-size: 19px;
    font-weight: 400;
    line-height: 27px;
}
.container_card {
  width: 100%;
  display: flex;
  position: relative;
  min-height: 200px;
}
.container_card:nth-child(odd) {
  justify-content: flex-start;
}
.container_card:nth-child(even) {
  justify-content: flex-end;
}
.card{
   width: 45%;
}
.container_card::before {
  content: attr(data-year);
  position: absolute;
  top: 45%;
  left: 50%;
  transform: translate(-50%, -50%);

  width: 50px;
  height: 50px;

  background: black;
  color: #E8C547;
  border: 2px solid #E8C547;
  border-radius: 50%;

  display: flex;
  align-items: center;
  justify-content: center;

  z-index: 2;
}
.container_card:nth-child(even) .data_card {
  left: 0;
  transform: translate(-50%, -50%);
}
.nossos_valores{
  width: 100%;
  margin: 80px 0px;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.nossos_valores h1{
    font-family: "Playfair Display", serif;
    font-size: 40px;
    font-weight: 700;
    margin-bottom: 30px;
    color: #111827;
}
.contaner_card{
  max-width: 1500px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15px;
  flex-wrap: wrap;
}
.card_valores{
  width: 270px;
  height: 260px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  gap: 12px;
}
.card_valores h1{
  font-size: 45px;
  color: #111827;
  margin-bottom: 0px;
}
.card_valores h2{
  font-family: var(--font-serif);
  font-size: 20px;
  font-weight:700;
  color: #D4AF37;
}
.card_valores p{
  width: 200px;
  font-size: 16px;
  font-weight: 400;
  color: #374151;
}
.numeros{
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: #000000;
  padding: 30px;
}
.numeros h1{
    font-family: "Playfair Display", serif;
    font-size: 40px;
    font-weight: 700;
    color: #FFFFFF;
}
.container_card_numeros{
  max-width: 1500px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15px;
  flex-wrap: wrap;
}
.card_numeros{
  width: 270px;
  height: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 50px 0px;
}
.card_numeros h1{
  font-size: 56px;
  font-weight: 700;
  color: #D4AF37;
}
.card_numeros p{
  font-family: var(--font-sans);
  font-size: 15px;
  font-weight: 400;
  color: #D1D5DB;
}
.section_contato{
  width: 100%;
  min-height: 300px;
  background-color: #D4AF37;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.section_contato h1{
  font-size: 40px;
  font-weight: 700;
  color: #000000;
  margin-bottom: 15px;
}
.section_contato p{
  font-size: 18px;
  font-weight: 400;
  color: #000000BF;
}
.butao_banner {
  font-family: "Poppins", sans-serif;
  margin: 25px 0px;
  max-width: 300px;
  width: 100%;
  height: 40px;
  border-radius: 50px;
  border: none;
  padding: 10px;
  background-color: #000000;
  color: #D1D5DB;
  font-weight: 600;
}
.footer{
  width: 100%;
  height: auto;
  background-color: #000000;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.footer img{
  width: 100px;
  height: auto;
}
.footer p{
  font-size: 16px;
  margin-bottom: 25px;
  color: #6B7280;
}
@media (max-width: 768px) {
  /* estilos para celular */
  .p_dourados{
    font-size: 14px;
  }
  .h1_sections{
    font-size: 30px;
    text-align: center;
  }
  .section_quem_somos h1{
    font-size: 30px;
    text-align: center;
}
.banner_h1 {
  font-size: 50px;
  text-align: center;
}
.section_quem_somos p{
    max-width: 350px;
    width: 100%;
    font-size: 15px;
    margin-bottom: 25px;
}
.trajetoria h1{
    text-align: center;
    font-size: 30px;
}
.container_trajetoria{
    max-width: 1350px;
    width: 100%;
    margin-top: 50px;
    position: relative;
    margin-top: 80px;
}
.container_trajetoria h1{
 font-size: 20px;
 
}
.container_trajetoria p{
 font-size: 16px;
}
.container_card::before {
  content: attr(data-year);
  position: absolute;
  top: 45%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 12px;

  width: 30px;
  height: 30px;

  background: black;
  color: #E8C547;
  border: 2px solid #E8C547;
  border-radius: 50%;

  display: flex;
  align-items: center;
  justify-content: center;

  z-index: 2;
}
.numeros h1{
    text-align: center;
    font-size: 30px;
}
.card_numeros h1{
  font-size: 40px;
  font-weight: 700;
  color: #D4AF37;
}
.card_numeros p{
  font-family: var(--font-sans);
  font-size: 16px;
  font-weight: 400;
  color: #D1D5DB;
}
.section_contato h1{
  text-align: center;
  font-size: 28px;
}
.section_contato p{
  text-align: center;
  font-size: 16px;
}
.footer p{
  font-size: 14px;
  text-align: center;
}
}
