@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
  --preto: #000000;
  --dourado: #D4AF37;
  --dourado-claro: #E8C547;
  --branco: #FFFFFF;
  --cinza-claro: #f9fafb;
  --cinza-escuro: #333333;
  --cinza-medio: #666666;
  --vermelho: #E74C3C;
  --verde: #27AE60;
  --azul: #3498DB;

  --font-serif: 'Playfair Display', serif;
  --font-sans: "Poppins", sans-serif;
}


.container_link{
   margin-left: 15px;
}
.navbar{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
    width: 100%;
    background-color: #000000;
    margin: 0;
    height: auto;
}
.menuToggle {
  font-size: 28px;
  background: none;
  border: none;
  cursor: pointer;
  display: none;
}

/* menu padrão (desktop) */
.container_link {
  display: flex;
  gap: 15px;
}

.links{
   font-family: var(--font-sans);
    color: #FFFFFF;
    text-decoration: none;
    margin-right: 15px;
}
.logo{
    width: 80px;
    height: auto;
}
@media (max-width: 768px) {
  /* estilos para celular */
  .navbar{
    justify-content: space-between;
    align-items: stretch;
    padding: 0px 25px;
  }
   .menuToggle {
    display: block;
    color: #FFFFFF;
  }

  .container_link {
    background-color: #000000;
    flex-direction: column;
    width: 100%;
    display: none;
    margin-top: 10px;
    padding: 10px;
  }

  .ativo {
    display: flex;
  }

  .links {
    padding: 10px;
    color: white;
    border-top: 1px solid #555;
  }
  .logo{
    width: 70px;
}
}
@media (min-width: 768px) and (max-width: 1024px) {
  /* estilos para tablet */
}